<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hello Friend!{{/block}}</title>
    <title>{{#block "title"}}Hero App!{{/block}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
